* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 80px;
  padding: 20px 8%;
  background-color: rgba(255, 255, 255, 0.545);
  box-shadow: 0 25px 45px rgb(79 86 101 / 8%);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
}

.logo {
  font-size: 25px;
}

.navbar ul li {
  font-weight: 600;
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  margin-right: 15px;
  color: #242f51;
  transition: 0.7s;
  padding: 5px 0;
}

.navbar ul li a:hover {
  color: #fcae61;
  border-bottom: 3px solid #2500f9;
}

.navbar ul button {
  margin-left: 30px;
}

.logo__title {
  color: #fcae61;
}

nav input {
  display: none;
}

nav label {
  font-size: 25px;
  color: #242f51;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.brand__button {
  padding: 10px 40px;
  border-radius: 20px;
  color: #fff;
  background-color: #2500f9;
  border: 3px solid #2500f9;
  cursor: pointer;
  font-weight: 800;
  transition: 1.5s;
  text-transform: uppercase;
  outline: 0;
}

.brand__button:hover {
  border: 3px solid #2500f9;
  background-color: #fff;
  color: #2500f9;
  transform: translateY(-5px);
}

/* banner css */

#banner__container {
  padding: 50px 8%;
  background-image: url("../images/illustrations/banner-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.ranking__area {
  display: flex;
  align-items: center;
  width: 270px;
  background-color: #e2eaed;
  border-radius: 20px;
}

.ranking__area h6 {
  font-size: 13px;
  margin-left: 15px;
  font-weight: 900;
  color: #242f51;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #242f51;
  margin-bottom: 10px;
}

.banner__content p {
  font-size: 19px;
  color: #242f51;
  word-spacing: 5px;
  width: 80%;
}

.banner__buttons {
  padding-top: 20px;
}

.banner__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner__image img {
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-60px);
  }
}

.demo__button {
  margin-left: 30px;
  padding: 10px 40px;
  border-radius: 20px;
  border: 3px solid #2500f9;
  background-color: #fff;
  color: #2500f9;
  cursor: pointer;
  font-weight: 800;
  transition: 1.5s;
  text-transform: uppercase;
  outline: 0;
}

.demo__button:hover {
  transform: translateY(-5px);
  color: #fff;
  background-color: #2500f9;
  border: 3px solid #2500f9;
}

/* companies css */

main {
  background-color: #f7f9fa;
}

.companies__container {
  padding: 70px 8%;
}

.companies__container h6 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.companies__area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.companies__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* responsive with media queries */

@media only screen and (max-width: 1040px) {
  .banner__content h1 {
    font-size: 50px;
  }

  .demo__button {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1010px) {
  nav {
    padding: 20px 5%;
  }

  #banner__container {
    padding: 50px 5%;
  }
}

@media only screen and (max-width: 940px) {
  .brand__button {
    padding: 10px 20px;
  }

  .demo__button {
    padding: 10px 20px;
  }

  .companies__area {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media only screen and (max-width: 876px) {
  .banner__content h1 {
    font-size: 40px;
  }

  .banner__content p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 848px) {
  #banner__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .banner__image {
    align-items: center;
  }
}

@media only screen and (max-width: 841px) {
  nav label {
    visibility: visible;
    opacity: 1;
  }

  nav .nav__items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.3s linear;
  }

  .navbar ul li {
    display: block;
    margin-top: 15px;
    border-bottom: 1px solid rgba(190, 179, 179, 0.37);
  }

  .navbar ul button {
    margin-left: 0px;
    margin-top: 15px;
  }

  nav input:checked ~ .nav__items {
    transform: scaleY(1);
    opacity: 1;
  }

  nav input:checked ~ label::before {
    content: "\f00d";
  }
}

@media only screen and (max-width: 700px) {
  .companies__area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .companies__area {
    grid-template-columns: repeat(1, 1fr);
  }
}
