* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 80px;
  padding: 20px 8%;
  background-color: rgba(255, 255, 255, 0.545);
  box-shadow: 0 25px 45px rgb(79 86 101 / 8%);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
}

.logo {
  font-size: 25px;
}

.logo a {
  text-decoration: none;
}

.nav__items li {
  font-weight: 600;
  display: inline-block;
}

.nav__items li a {
  text-decoration: none;
  margin-right: 15px;
  color: #242f51;
  transition: 0.7s;
  padding: 5px 0;
}

.nav__items li a:hover {
  color: #fcae61;
  border-bottom: 3px solid #2500f9;
}

.nav__items ul button {
  margin-left: 30px;
}

.logo__title {
  color: #fcae61;
}

nav input {
  display: none;
}

nav label {
  font-size: 25px;
  color: #242f51;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.brand__button {
  padding: 10px 40px;
  border-radius: 20px;
  color: #fff;
  background-color: #2500f9;
  border: 3px solid #2500f9;
  cursor: pointer;
  font-weight: 800;
  transition: 1.5s;
  text-transform: uppercase;
  outline: 0;
}

.brand__button:hover {
  border: 3px solid #2500f9;
  background-color: #fff;
  color: #2500f9;
  transform: translateY(-5px);
}

/* banner css */

#banner__container {
  padding: 50px 8%;
  background-image: url("../images/illustrations/banner-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.ranking__area {
  display: flex;
  align-items: center;
  width: 270px;
  background-color: #e2eaed;
  border-radius: 20px;
}

.ranking__area h6 {
  font-size: 13px;
  margin-left: 15px;
  font-weight: 900;
  color: #242f51;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #242f51;
  margin-bottom: 10px;
}

.banner__content p {
  font-size: 19px;
  color: #737579;
  word-spacing: 5px;
  width: 80%;
}

.banner__buttons {
  padding-top: 20px;
}

.banner__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner__image img {
  width: 100%;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-60px);
  }
}

.demo__button {
  margin-left: 30px;
  padding: 10px 40px;
  border-radius: 20px;
  border: 3px solid #2500f9;
  background-color: #fff;
  color: #2500f9;
  cursor: pointer;
  font-weight: 800;
  transition: 1.5s;
  text-transform: uppercase;
  outline: 0;
}

.demo__button:hover {
  transform: translateY(-5px);
  color: #fff;
  background-color: #2500f9;
  border: 3px solid #2500f9;
}

/* companies css */

main {
  background-color: #dfe8ec;
}

.companies__container {
  padding: 70px 8%;
}

.companies__container h6 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.companies__area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.companies__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* app features css */

.app__features__container {
  padding: 70px 8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.app__features__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__features__image img {
  width: 100%;
}

.app__features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__features__content h1 {
  color: #242f51;
  font-size: 40px;
  line-height: 43px;
  margin-bottom: 25px;
}

.app__features__content p {
  font-size: 19px;
  color: #737579;
  width: 75%;
  text-align: justify;
}

.about__features {
  margin: 30px 0px;
}

.single__feature {
  display: flex;
  margin: 30px 0px;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  transition: 0.5s;
}

.single__feature:hover {
  cursor: context-menu;
  box-shadow: 2px 2px 20px gray;
}

.single__features__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single__features__content {
  margin-left: 30px;
}

.single__feature:nth-child(1) h4 {
  color: #f66a78;
  font-weight: 700;
  font-size: 20px;
}

.single__feature:nth-child(2) h4 {
  color: #4425fa;
  font-weight: 700;
  font-size: 20px;
}

.single__feature:nth-child(3) h4 {
  color: #40975f;
  font-weight: 700;
  font-size: 20px;
}

.single__features__content p {
  color: #737579;
}

/* smart jackpot css */

.smart__jackpot__container {
  padding: 70px 8%;
}

.smart__jackpot__heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.smart__jackpot__heading h1 {
  font-size: 50px;
  width: 80%;
  font-weight: 700;
  color: #242f51;
}

.smart__jackpot__heading p {
  font-size: 19px;
  color: #737579;
  word-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

.smart__jackpot__cards {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.single__jackpot__card {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  transition: 0.5s;
}

.single__jackpot__card:hover {
  cursor: context-menu;
  box-shadow: 2px 2px 20px gray;
}

.single__jackpot__card:nth-child(1) h4 {
  color: #f66a78;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__jackpot__card:nth-child(2) h4 {
  color: #4425fa;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__jackpot__card:nth-child(3) h4 {
  color: #40975f;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jackpot__content p {
  color: #737579;
  text-align: justify;
}

/* design & build css */

#design__and__build__container {
  padding: 70px 8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.design__and__build__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.design__and__build__image img {
  width: 90%;
}

.design__and__build__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.design__and__build__content h1 {
  color: #242f51;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 25px;
  width: 80%;
}

.design__and__build__content p {
  font-size: 19px;
  color: #737579;
  width: 75%;
  margin-bottom: 25px;
  text-align: justify;
}

/* about us css */

#about__us__container {
  padding: 70px 8%;
}

#about__us__container h1 {
  color: #242f51;
  font-size: 40px;
  line-height: 47px;
  width: 47%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.about__header__content {
  font-size: 19px;
  color: #737579;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.about__us__cards {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.single__about__card {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  transition: 0.5s;
}

.single__about__card:hover {
  cursor: context-menu;
  box-shadow: 2px 2px 20px gray;
}

.about__icon {
  margin: 0 auto;
  text-align: center;
}

.single__about__card:nth-child(1) h4 {
  text-align: center;
  color: #f66a78;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__about__card:nth-child(2) h4 {
  color: #40975f;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__about__card:nth-child(3) h4 {
  color: #f66a78;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__about__card:nth-child(4) h4 {
  color: #40975f;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__about__card:nth-child(5) h4 {
  color: #f66a78;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__about__card:nth-child(6) h4 {
  color: #40975f;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single__about__card p {
  color: #737579;
  text-align: center;
}

/* ultimate feature css */

#ultimate__feature__container {
  padding: 70px 8%;
}

#ultimate__feature__container h1 {
  color: #242f51;
  font-size: 40px;
  line-height: 47px;
  width: 40%;
  margin-bottom: 20px;
}

.ultimate__feature__header {
  font-size: 19px;
  color: #737579;
  width: 50%;
}

.ultimate__feature__area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.ultimate__feature__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.single__ultimate__feature {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  transition: 0.5s;
}

.single__ultimate__feature:hover {
  cursor: context-menu;
  box-shadow: 2px 2px 20px gray;
}

.single__ultimate__feature:nth-child(1) h4 {
  color: #f66a78;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.single__ultimate__feature:nth-child(2) h4 {
  color: #40975f;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.single__ultimate__feature:nth-child(3) h4 {
  color: #40975f;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.single__ultimate__feature:nth-child(4) h4 {
  color: #f66a78;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.ultimate__content p {
  color: #737579;
  text-align: justify;
}

.ultimate__feature__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ultimate__feature__image img {
  width: 100%;
}

/* responsive with media queries */

@media only screen and (max-width: 1200px) {
  .app__features__content p {
    width: 100%;
  }
}

@media only screen and (max-width: 1040px) {
  .banner__content h1 {
    font-size: 50px;
  }

  .demo__button {
    margin-left: 10px;
  }

  .ultimate__feature__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .single__ultimate__feature:nth-child(3) h4 {
    color: #f66a78;
  }

  .single__ultimate__feature:nth-child(4) h4 {
    color: #40975f;
  }
}

@media only screen and (max-width: 1010px) {
  nav {
    padding: 20px 5%;
  }

  #banner__container {
    padding: 50px 5%;
  }

  .app__features__container {
    padding: 70px 5%;
  }

  #design__and__build__container {
    padding: 70px 5%;
  }

  #about__us__container {
    padding: 70px 5%;
  }

  #ultimate__feature__container {
    padding: 70px 5%;
  }
}

@media only screen and (max-width: 940px) {
  .brand__button {
    padding: 10px 20px;
  }

  .demo__button {
    padding: 10px 20px;
  }

  .companies__area {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .smart__jackpot__cards {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .about__us__cards {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* font size responsive are */

@media only screen and (max-width: 876px) {
  .banner__content h1 {
    font-size: 40px;
  }

  .banner__content p {
    font-size: 15px;
  }

  .app__features__content h1 {
    font-size: 30px;
  }

  .app__features__content p {
    font-size: 15px;
  }

  .smart__jackpot__heading h1 {
    font-size: 40px;
  }

  .smart__jackpot__heading p {
    font-size: 15px;
  }

  .jackpot__content p {
    font-size: 15px;
  }

  .design__and__build__content h1 {
    font-size: 40px;
  }

  .design__and__build__content p {
    font-size: 15px;
  }

  #about__us__container h1 {
    font-size: 40px;
  }

  #about__us__container p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 848px) {
  #banner__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .banner__image {
    align-items: center;
  }

  .banner__image img {
    width: 70%;
  }
}

@media only screen and (max-width: 841px) {
  nav label {
    visibility: visible;
    opacity: 1;
  }

  nav .nav__items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.3s linear;
  }

  .navbar ul li {
    display: block;
    margin-top: 15px;
    border-bottom: 1px solid rgba(190, 179, 179, 0.37);
  }

  .navbar ul button {
    margin-left: 0px;
    margin-top: 15px;
  }

  nav input:checked ~ .nav__items {
    transform: scaleY(1);
    opacity: 1;
  }

  nav input:checked ~ label::before {
    content: "\f00d";
  }

  .nav__items li a:hover {
    border-bottom: none;
  }

  #banner__container {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 750px) {
  .app__features__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .app__features__image img {
    width: 70%;
  }

  .smart__jackpot__heading {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .smart__jackpot__heading h1 {
    width: 90%;
  }

  .smart__jackpot__heading p {
    width: 80%;
  }

  #design__and__build__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .design__and__build__image img {
    width: 70%;
  }

  .ultimate__feature__area {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .ultimate__feature__image img {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .companies__area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 645px) {
  .smart__jackpot__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__us__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .companies__area {
    grid-template-columns: repeat(1, 1fr);
  }
}
